[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
langchain = "*"
langchain-groq = "*"
python-dotenv = "*"
langchain-community = "*"
chromadb = "*"

[dev-packages]

[requires]
python_version = "3.13"
